.background-pic {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-grow: 100;
}

button:not(.dropdown-toggle,.tab-button):hover:enabled, input[type="file"]::file-selector-button:hover {
    color:#1e2125;
    background-color:#b7bcc0;
}

.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    justify-content: center;
}

.App-header {
    grid-row: 1;
    grid-column: 1;
    background-color: transparent;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow-y: visible;
}

.site-logo {
    height: 50px;
    width: auto;
    grid-column: 1;
    position: absolute;
    left: 0;
}

.App-header div.dropdown {
    grid-column: 3;
    height: 50px;
    font-size: calc(10px + 2vmin);
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

.App-main {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 50px);
    color: #FFFFFF;
    z-index: 1;
}

.base-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    overflow-y: visible;
}

.content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: calc(3*(1.325rem + .9vw));
    height: min-content;
    width: 20%;
    font-size: calc(12px + 2vmin);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tab-button {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    width: 50%;
    text-align: right;
    color: #FFFFFF;
    background-color: transparent;
}

.tab-button:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

.tab-button:enabled:hover,.tab-button:enabled:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.App-footer {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    background-color: transparent;
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.return {
    position: absolute;
    right: 0;
    bottom: 0;
}

.App-link {
    color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .spin {
        animation: spin infinite 20s linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}