.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    width: 90%;
}

.App-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #FFFFFF;
  }

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.profile-headline img {
    height: 5em;
    width: 5em;
    object-fit: cover;
}

.profile-headline div {
    display: flex;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    margin-bottom: 1.5rem;
    background-color: white;
}

.post h4 {
    background: #fafafa;
    padding: 0.5rem;
}

.post img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.author-bar {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
}

.author-bar a {
    text-decoration: none;
    color:#212529;
}