.friend-list-Removable, .friend-list-Standard {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    max-height: 64vh;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.friend-list-Requests, .friend-list-Recommendations {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    max-height: 83vh;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.friend-list-header {
    display: flex;
    flex-direction: row;
}

.friend-list-header p {
    margin-bottom: 0px;
    margin-right: 0.5em;
}

.friend {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    color:#212529;
}

.friend:focus, .friend:hover {
    color:#1e2125;
    background-color:#e9ecef
}

.friend div {
    display: flex;
    flex-direction: row;
}

.friend img {
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.friend p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0.5em;
}

.friend-zone {
    width: 40%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.friend-zone a {
    grid-row: 1;
    grid-column: span 1;    
    text-decoration: none;
}

.friend-zone button {
    width: 100%;
}