.friend-list-Removable, .friend-list-Standard {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 80%;
    height: calc((99vh - (3*(1.325rem + .9vw) + 1.3rem + 0.6vw + 116px)));
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.friend-list-Requests, .friend-list-Recommendations {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 80%;
    height: calc((99vh - (1.3rem + 0.6vw + 116px)));
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.friend {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    color:#212529;
}

.friend:focus, .friend:hover {
    color:#1e2125;
    background-color:#e9ecef
}

.friend span {
    display: flex;
    flex-direction: row;
}

.friend img {
    height: 2em;
    width: 2em;
    object-fit: cover;
}

.friend p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0.5em;
}

.friend-zone {
    width: 40%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.friend-zone a {
    grid-row: 1;
    grid-column: span 1;    
    text-decoration: none;
}

.friend-zone button {
    width: 100%;
}

.list-header {
    height: 38px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    color:#212529;
    padding: 0.5rem 0.5rem;
    border-width: 1px 0;
    border-style: solid;
}

.list-header span {
    display: flex;
    flex-direction: row;
    align-items: inherit;
}

.list-header p {
    margin: 0 0.5em;
    font-weight: bold;
}

.list-header hr:not([size]) {
    height: calc(38px - 1rem);
}

button.accept, button.reject, button.request, button.remove {
    border-color: rgb(96,96,96);
    border-style: solid;
    border-radius: 25% / 50%;
    padding: 2px 1ch 4px;
    width: max-content;
    margin: 1px 2px;
}

button.accept:hover:not(:disabled), button.accept:focus:not(:disabled), button.accept:active:not(:disabled),
button.request:hover:not(:disabled), button.request:focus:not(:disabled), button.request:active:not(:disabled) {
    background-color: forestgreen;
    border-color: darkgreen;
    color: #FFFFFF;
}

button.reject:hover:not(:disabled), button.reject:focus:not(:disabled), button.reject:active:not(:disabled),
button.remove:hover:not(:disabled), button.remove:focus:not(:disabled), button.remove:active:not(:disabled) {
    background-color: crimson;
    border-color: darkred;
    color: #FFFFFF;
}