.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center form {
    display: contents;
}

.center div {
    margin-top: 1em;
}

body {
    background-image:"/Users/surbhi/Clone/seniorproject/src/BG.jpeg";
}