.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    margin-bottom: 1.5rem;
    background-color: white;
}

.post h4 {
    background: #fafafa;
    padding: 0.5rem;
}

.post img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.author-bar-false {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
}

.author-bar-true {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    pointer-events: none;
}

.author-bar-false a, .author-bar-true a {
    text-decoration: none;
    color:#212529;
}

.make-post {
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(10px + 2vmin);
}

.make-post div.amplify-card {
    background: transparent;
}

.make-post form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.make-post p {
    margin-bottom: 8px;
}

.upload-button {
    margin-top: 16px;
}