.profile-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 8px;
}

.profile-headline img {
    height: calc(3*(1.325rem + .9vw));
    width: calc(3*(1.325rem + .9vw));
    object-fit: cover;
    margin-right: 1em;
}

.profile-headline div, .profile-headline span {
    display: flex;
    align-items: center;
}

.profile-overview {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.profile-overview h3 {
    margin-top: 8px;
}

.profile-overview .overview {
    color: #FFFFFF;
    text-align: left;
    width: 80%;
}

.profile-overview .overview .amplify-label {
    color: inherit;
    margin-top: 8px;
}

.profile-overview .overview .amplify-textarea, .profile-overview .overview .amplify-input {
    color: inherit;
    background-color: transparent;
    padding: 0px;
    border: none;
}