.search {
    grid-column: 2;
    width: 100%;
    height: 50px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
}

.search div.amplify-field-group__field-wrapper {
    margin-top: 8px;
    height: 42px;
}

.search input {
    text-align: left;
    background-color: #FFFFFF;
}

.search li {
    padding: 0px;
}

.search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

.search-result:focus, .search-result:active, .search-result:hover {
    color: inherit;
    background-color: inherit;
}

.search-result span {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.search-result img {
    height: 2em;
    width: 2em;
    object-fit: cover;
    margin-right: 0.5em;
}