.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center form {
    display: contents;
}

.center div {
    margin-top: 1em;
}

.settings-content {
    width: 60%;
    text-align: left;
    color: #e9ecef;
    display: flex;
    flex-direction: column;
}

.settings-content h2 {
    text-align: center;
}

.settings-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
}

.settings-content form .amplify-label {
    color: #e9ecef;
    margin-top: 8px;
}

.settings-content form input {
    color: #212529;
    background-color: #FFFFFF;
}

.settings-content form button[type='submit'] {
    max-width: 40%;
    min-width: min-content;
    margin: 16px 0;
    align-self: center;
}